@charset 'utf-8';
html{
	background: #f8f8f8;
}
.box{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
/*头部*/
.header{
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background: #3bd78f;
	text-align: center;
	height: 1.5rem;
	color: #fff;
	line-height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.5rem;
}
.header img{
	position: absolute;
	left: 0;
}
/*nav当前位置*/
.nav{
	width: 96%;
	margin: 0 auto;
	margin-top: 1.5rem;
	font-size: 0.42rem;
	height: 0.8rem;
	line-height: 0.8rem;
	overflow: hidden;
}
/*附近信息内容*/
.main{
	width: 96%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	overflow: hidden;
}
.main ul{
	list-style-type: none;
	width: 100%;
	height: auto;
}
.main ul li{
	border-bottom: 1px solid #c8c8c8;
	padding:0.1rem 0;
}
.main ul li a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.main .lis_left{
	width: 28%;
	height: 2rem;
	overflow: hidden;
	margin-right: 2%;
}
.main .lis_left img{
	width: 100%;
	height: 100%;
}
.main .lis_right{
	width: 70%;
	height: 2rem;
	overflow: hidden;
	position: relative;
}
.main .lis_right h4{
	font-weight: bold;
	font-size: 0.4rem;
	color: #000;
	padding:0.1rem 0;
}
.main .lis_right p{
	font-size: 0.38rem;
	color: #c8c8c8;
}
.main .lis_right span{
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 0.4rem;
	color: #000;
}
/*底部导航*/
.footer{
	width: 100%;
	height: 1.5rem;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
	font-size: 0.46rem;
	position: fixed;
	bottom: 0;
}
.footer ul{
	list-style-type: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer ul li a{
	color: #000;
	font-size: 0.42rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.footer ul li .active{
	color: #3bd78f;
}
