@charset 'utf-8';
body{
	background: #c8c8c8;
}
.box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
/*头部信息*/
.heads{
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background: #3bd78f;
	text-align: center;
	height: 1.5rem;
	color: #fff;
	line-height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.5rem;
}
.heads img{
	position: absolute;
	left: 0;
}
.header{
	width: 100%;
	height: 3.2rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: url(http://www.17sucai.com/preview/320047/2015-08-17/17/img/%E7%BB%84%2025.png)no-repeat;
	background-size: 100% 100%;
	margin-top: 1.5rem;
}
.header .header_left{
	margin: 0 0.5rem;
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	border-radius: 50%;
	background-color: #fff;
}
.header .header_left img{
	width: 100%;
	height: 100%;
}
.header .header_right{
	font-size: 0.4rem;
    color: #fff;
}
.header .header_right span{
	margin-left: 0.3rem;
}
/*赠送nav区域*/
.nav{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0.2rem auto;
	background: #fff;
	padding: 0.2rem 0;
}
.nav ul{
	list-style-type: none;
	width: 100%;
	height:auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}
.nav .nav_top{
	width: 100%;
	text-align: center;
	height: auto;
	overflow: hidden;
	padding:0.2rem 0;
	font-size: 0.4rem;
}
.nav .nav_top strong{
	/*color: #3bd78f;*/
	color: red;
}
.nav ul li a{
	color: #000;
	width: 100%;
	height: 100%;
}
.nav ul li a h4{
	font-size: 0.4rem;
	padding: 0.2rem 0;
}
.nav ul li a span{
	/*color: #3bd78f;*/
	color: red;
	font-size:0.4rem;
}
/*main内容区域*/
.main{
	width: 100%;
	height: auto;
	margin: 0 auto;
	box-sizing:border-box;
	padding:0 0.2rem;
	background: #fff;
	padding-bottom: 2rem;
}
.main ul li{
	height: 1.5rem;
	line-height: 1.5rem;
	border-bottom: 1px solid #ccc;
}
.main ul li a{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.4rem;
	color: #c8c8c8;
	width: 100%;
	height: 100%;
}
.main ul li a .lis_right{
	display: flex;
	align-items: center;
	justify-content: center;
	color: blue;
}
/*底部导航*/
.footer{
	width: 100%;
	height: 1.5rem;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
	font-size: 0.46rem;
	position: fixed;
	bottom: 0;
}
.footer ul{
	list-style-type: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer ul li a{
	color: #000;
	font-size: 0.42rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.footer ul li .active{
	color: #3bd78f;
}